@import "../base/variables";
@import "../base/mixins";

.header-box {
  width: 100%;
  background-image: url($img-header-mobile);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include sgBreakpoint(medium-up){
    background-image: url($img-header-desktop);
    background-position: top;    
  }
}

.header__title {
  margin: 0;
  padding: 5em 0 3em 0;
  font-weight: $fontWeightBlack;
  font-size: 1.3em;
  text-align: center;
  color: $black;
  text-shadow: 0 0 10px $white;
  text-transform: uppercase;
}

.header__line {
  position: relative;
  top: -.2em;
  border-color: $black;
  height: 3px;
  background-color: $black;
  width: 13%;
  display: inline-block;
  margin: 0 .2em;
}

.header--vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: .6em;
  font-size: 1.6em;
  padding-top: 1.8em;
}
.header-element {
  width: 100%;
  text-align: center;
  padding: .6em .2em;
}
.header {
  margin: 2em 0 0 0;
  padding: 2em .5em;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: $font-family-headers;
  text-shadow: 2px 3px 4px $blue;
}