$white: #FFF;
$black: #000;
$light-pink: #fff4f7;
$pink: #b9005a;
$orange: #ff8400;
$light-orange: #ffe4c6;
$min-height: 509px;


$font-family-primary: "Verdana, sans-serif";
$fontWeightBold: 700;
$fontWeightBlack: 900;

$img-header-mobile: "../images/header-mobile.png";
$img-main-mobile: "../images/header-bottom-mobile.png";