@import "../base/mixins";

.box--main {
    max-width: 600px;
    margin: 0 auto;
    background-color: $light-white;
    @include sgBreakpoint(medium-only){
        max-width: 700px;
    }
    @include sgBreakpoint(large-only){
        max-width: 800px;
    }
}
.box--main__header {
    background: $light-pink;
}
.box__content {
    padding: .1em 1em .6em 1em;
    text-align: justify;
}
.box__content--center{
    text-align: center;
}
.box--large {
    width: 100%;
}
.main {
    width: 100%;
}
