@import "../base/mixins";

.box--main {
    width: 90%;
    margin: 0 auto;
    background-color: $light-white;
    @include sgBreakpoint(medium-up){
        width: 60%;
    }
}
.box--main__header {
    background: $light-pink;
}
.box__content {
    padding: .1em 1em .6em 1em;
    text-align: justify;
}
.box__content--center{
    text-align: center;
}
.box--large {
    width: 100%;
}


.main {
    width: 100%;

}
